<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            {% load static %}
            <meta charset="utf-8">
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

        <title>{% block title %}{% endblock title %}</title>
        {% block stylesheets %}{% endblock stylesheets %}
        {% block scripts %}{% endblock scripts %}
        <style>{% block styles %}{% endblock styles %}</style>

    {% endblock head %}
</head>

<body>
<header>{% block header %}{% endblock header %}</header>
{% block body %}{% endblock body %}
<footer>{% block footer %}{% endblock footer %}</footer>
</body>
</html>